.result-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid var(--ion-color-medium-shade);
  border-radius: 8px;
  background-color: var(--ion-color-light);
}

.result-container h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--ion-color-primary);
  margin-bottom: 5px;
}

.result-container h2 {
    font-size: 1.2em;
    color: var(--ion-color-dark-tint);
    margin-bottom: 10px;
}

.result-container ion-note {
    font-size: 0.9em;
    color: var(--ion-color-medium);
}

.ion-margin-vertical {
    margin-top: 5px;
    margin-bottom: 5px;
}

ion-spinner {
    margin-left: 5px; /* Add some space between select and spinner */
}

